@import "src/components/style/Header";
@import "src/components/style/Hero";
@import "src/components/style/Money";
@import "src/components/style/Why";
@import "src/components/style/Start";
@import "src/components/style/Gradient";
@import "src/components/style/Prof";
@import "src/components/style/Partner";


*{
  margin: 0;
  padding: 0;
  border: none;
}

.container{
  width: 85%;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
